[2018-01-19 05:53] xycloud opened #16 "any performance report?"

[2018-01-19 09:56] lmangani commented on #16
@xycloud not sure what the question is here?

[2018-02-10 14:07] lmangani commented on #16
Nothing handy, but I've seen a single thread push up to 6-7k pps per thread on my low-end containers. It should be trivial to plug benchmarks to pastash due to its in/out design allowing to loop back into a sender, etc. Happy to take in proposals and suggestions!

[2018-02-10 17:35] lmangani opened #17 "Splitting Modules from Core"
@all paStash is growing a number of modules, and risks looking a pinch too monolithic for the possibilities NodeJS offers. Is anyone willing to help out moving a few modules (and their dependencies) outside of the core? Any help, suggestion or contribution is well appreciated!

[2018-02-11 01:53] xycloud commented on #17
yes, take a look at koa. just keep a plugin framework ( and optionally keeping some core plugins.)

[2018-07-09 15:06] dvillaume opened #29 "Hep split via"
Hi,
I tried to use this example do duplicate some udp hep to both servers :

https://github.com/sipcapture/paStash/wiki/Example:-HEP-Relay

But cannot obtain what i expected. :

Config :

`input {
  udp {
    host => 172.16.0.112
    port => 9060
  }
}

output {
  udp {
    host => 172.16.0.95
    port => 9060
  }
  udp {
    host => 172.16.0.131
    port => 9060
  }
}`

Tcpdump checks :

Received

[2018-08-16 08:38] dvillaume commented on #29
I change my mind about the way to to it.
Thanks again for the project.

[2018-08-16 08:38] #29 closed

[2018-08-16 08:47] lmangani commented on #29
Yes, it is possible, but certain limitations will depend on the node version in use.

[2018-12-17 23:04] lmangani commented on #17
Long overdue update here for those interested: https://github.com/lmangani/pastash_plugins

[2018-12-17 23:04] #17 closed

[2019-09-04 11:22] systemcrash opened #51 "Syslog via TCP not synonymous to syslog via UDP"
When I try to use TCP (not TLS yet) to deliver syslog to a paStash node, it just barfs all over the place, and cannot re-assemble things very well at all.

When I switch over to UDP - everything plays nicely, regexp also. So all things being equal, TCP doesn't play nicely at the receiving end. I enable stdout and just see a mish-mash of bad re-assembly.

It boils down to the multi-line filter.
* U

[2019-09-04 11:24] systemcrash commented on #51
For the trim() problem: My suggestion would be to introduce a flag which can be invoked for the input modules, allowing you to sunset this trim code for those who already built code around its existence, or disable it to make new code work better.

[2019-09-05 08:51] lmangani commented on #51
Hi Paul @systemcrash and thank you so much for the detailed report - this most definitely sounds odd and wrong - Let me try reproduce this and provide some feedback.

[2019-09-05 17:58] systemcrash commented on #51
Another thing I've noticed: if paStash has a receiving module active for TCP, shutting down the docker image, or CTRL+C from the console takes a lot longer. I think it's trying to cleanly close the TCP connection, but in any case it seems like the OS is waiting on the TCP, and not the TCP listening to the OS...

[2019-09-05 18:19] lmangani commented on #51
paStash is standing on the shoulders of giants here, it does not handle or implement its own TCP stack or workers so I'm not sure this is induced or inherited ;) Jokes aside, I'll see if there are possible modules replacement to improve those aspects once we figure out what's really happening.

[2019-09-05 18:25] systemcrash commented on #51
I turned on simple (debug) logging to show what my AppSecret ingests from the syslog_tcp module. You can see how it even preserves the indented space and doesn't even trim() it. Right from the start, it seems to have difficulty coping.

Here is the corresponding recipe:

[code]

This is logged for what comes in via TCP - note Function ingested data is all one block, not separate blocks:

[code]

[2019-09-05 18:33] lmangani commented on #51
I guess you would need the multiline filter to split those? What are you actually trying to do here?

[2019-09-05 18:37] systemcrash commented on #51
For comparison, this is what happens via UDP (when you look at the differences, you'll see how TCP is misbehaving)

recipe
[code]

log
[code]

[2019-09-05 18:43] systemcrash commented on #51
So irrespective of what regexp I have in the recipe, e.g.
[code]
or
[code]

The syslog received lines are passed verbatim, and are not reduced:
[code]
Like they are via UDP:
[code]

[2019-09-05 18:45] systemcrash commented on #51
So as stated in the original submission: it's like multiline is completely bypassed when using TCP for reception. UDP, fine. All things being equal, TCP is just... weird.

[2019-10-02 23:04] systemcrash commented on #51
Any progress on your investigations?

[2020-01-07 22:30] systemcrash commented on #51
If you can make any progress on this, this would promise integration of a few SBCs and PBXes.

[2020-01-19 23:02] lmangani commented on #51
@systemcrash apologies for the long break - I'll get to this soon. Are you using the latest `@pastash/pastash` w/ plugin extensions by any chance? would be easier to fix there

[2020-01-20 17:01] systemcrash commented on #51
Pulled in the latest. Using 8b894632517ec911a1fc607c490c0df936007eac
How would I verify I'm using `w/ plugin exstensions`?

Edit: No difference in behaviour

[2020-01-20 17:14] lmangani commented on #51
the global version uses `@pastash/pastash` and the pastash plugins at https://github.com/sipcapture/pastash_plugins

[2020-01-20 17:21] systemcrash commented on #51
*shrug* like I said, I'm using 8b894632517ec911a1fc607c490c0df936007eac (from this repo)

I run `docker-compose up` - I don't use npm directly. Although I see a few of those commands fly past when building an updated image.

[2020-01-20 17:32] lmangani commented on #51
Great. Mind using the branch has nothing to do with how it should be installed to work. Keep in mind, the modular version expects globally installed @pastash/plugins in order to run. Since the point is shrinking down, you might want to build your own Docker container with only the packages you want/need installed.

[code]

[2020-01-21 16:57] systemcrash commented on #51
Got it - thanks. Is a pastash.conf possible in a docker-compose scenario?

If you have any test branches you want me to try, post it here. This (debug) installation will be exclusively using github/docker-compose to build.

[2020-01-22 18:42] xaled1 opened #58 "Pastash installation errors"
Hi,

I'm trying to install pastash on a SLES 12.3 and having no luck with it.

npm -v: 6.13.6
nvm alias default node
default -> node (-> v12.14.1)

` npm install --unsafe-perm -g @pastash/pastash
npm WARN deprecated hoek@5.0.4: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and

[2020-02-10 17:53] lmangani commented on #58
@xaled1 pastash should actually be installed just fine, except the failing modules which are failing such as zmq (due to missing libraries)

[2020-02-10 17:53] #58 closed, assigned to nobody

[2020-02-10 17:54] lmangani commented on #58
Feel free to chain here if you need further help! We'll remove and make the zmq plugins optional too in the coming weeks and use prebuild to make this smoother

[2020-03-24 19:49] lmangani opened #60 "imagestore"

[2020-03-24 19:49] #60 closed, assigned to nobody

[2020-03-24 19:50] lmangani commented on #60
![image](https://user-images.githubusercontent.com/1423657/77470486-0a07bc80-6e11-11ea-9575-d15a6f210fcf.png)

[2020-03-24 19:52] lmangani commented on #60
![image](https://user-images.githubusercontent.com/1423657/77470669-5b17b080-6e11-11ea-88fe-149b0e1928b2.png)

[2020-03-24 20:00] lmangani commented on #60
![image](https://user-images.githubusercontent.com/1423657/77471402-8222b200-6e12-11ea-8492-4d72be1930a1.png)

[2020-05-29 08:27] MattMou opened #64 "Filter for Cisco CUBE"
I can see various filters have been written for other systems, Avaya SM, Sonos etc. Would there be any appetite to write one for syslog SIP debug output from a Cisco CUBE?

I raised the question on the Homer Google group and was suggested to post the question here.

Thanks

[2020-05-29 08:42] lmangani commented on #64
We can't comment unless you attach an example - please do so and we'll happily take a look.

[2020-05-29 09:13] MattMou commented on #64
Many thanks for offering to take a look.

I have produced a quick edited debug of a complete call:
https://pastebin.com/Y6bqhcvd

Let me know if this provides enough detail.

[2020-05-29 09:23] lmangani commented on #64
Thanks. The messages can be easily parsed, but those logs are pretty useless as they don't specify who's the sender or receiver of any of those SIP messages - extracting those form the signaling is a recipe for disaster. So - Not much we can do with those unless there's a higher debug level.

[2020-05-29 12:26] MattMou commented on #64
Can you give me a steer on what the format needs to be so I can look into what other debugs are available?

When you say "extracting those form the signaling" do you mean the invite/from/to etc?

[2020-05-29 12:43] lmangani commented on #64
In order to turn those logs back into HEP/SIP at the very least we need to know the source/destination IP:PORT of each packet. The traffic doesn't look like its TLS or anything, so why would you want to capture this way?

[2020-06-01 08:39] MattMou commented on #64
The output is the SIP messages that the CUBE exchanges during a call. The example is UDP. Obviously there is no RTP as part of it. If there is a problem you can use the debug to work out what device sent what messages. Cisco have a tool that you can drop that debug into and it arranges it by time stamp, shows the individual messages and produces ladder diagrams. Normally we troubleshoot by reprodu

[2020-06-01 08:47] lmangani commented on #64
@MattMou perhaps I confused you. homer can work with this just fine, you saw the other log processors converting output back to HEP/SIP but unfortunately for you the CUBE logs don't tell much as of where the messages came/went from a networking perspective so its pretty useless. This said, you can extract the IPs (if there are any) from the FROM/VIA/RURI if you want to and HOMER will display them

[2020-06-05 12:41] astrakid commented on #64
i have also need for this, have not that much knowledge but would like to participate.

[2020-06-05 12:48] lmangani commented on #64
@astrakid thanks! Perhaps you know if the logs have options or can be extended to be more verbose in any way about the sessions they handle, perhaps a DEBUG level?

[2020-06-05 13:17] astrakid commented on #64
no, unfortunately there is no more detailed log level enabled - it is already debug mode.

[2020-06-05 15:15] lmangani commented on #64
This is unfortunate indeed - we can't do this through logs without the network details. How about ERSPAN?

[2020-06-05 16:15] astrakid commented on #64
Cisco doesn't provide that.
But we could use the IP addresses of the sip headers (at least for my case it would be really sufficient at a first glance, and rtp is not available in his scenario for homer at all).

Regards
Andre

[2020-06-05 16:44] lmangani commented on #64
You absolutely can from a technical standpoint but besides being misleading in case of proxies, what happens when you have a domain name? ;)

[2020-06-05 17:00] astrakid commented on #64
Good point as always. ;-)
For my case it is not relevant. It is anyway not the perfect solution because rtp is missing, so I think we can leave with this limitations and have to document it.

[2020-06-11 11:49] MattMou commented on #64
From my point of view the most common use for the Cisco CUBE is to sit between an ITSP and a PBX. You are talking about an exchange between few IP addresses and it is very rare to find domain names used. Cisco provide a tool to parse the log files (as the above example) and it is able to build the call flow. I understand the RTP will give you more but really the SIP messages is what I would use to

[2020-07-13 16:32] yodog opened #65 "ERROR Exception has been catch, it' a bug"
hello.

if you need more info, let me know.

[code]
---

pastash_loki.conf

[code]

---

started pastash with `pastash --config_file=/root/pastash_loki.conf`

---

[code]

[2020-07-13 16:41] yodog commented on #65
updated node and it worked.

closing.

[2020-07-13 16:41] #65 closed, assigned to nobody

[2020-07-13 22:06] yodog opened #66 "loki output multitenancy (X-Scope-OrgID)"
hello.

i believe requests to the Loki API should include an HTTP header (X-Scope-OrgID) identifying the tenant for the request.

https://github.com/grafana/loki/blob/master/docs/operations/multi-tenancy.md

[2020-07-14 08:27] lmangani commented on #66
That's right. The Loki output feature is currently tested in single-tenant mode - will add it once time allows and keep this open as feature request (or feel free to submit a PR)

[2020-07-29 20:38] simplevoip opened #68 "PgSQL output doesn't reopen connection on error threshold breach"
We've been running the PgSQL output plugin for a while in production, and occasionally it attempts to insert duplicate IDs somehow. This shouldn't be a problem for our specific application, except that these primary key conflicts increase the output plugin's error count, and when the error threshold (a hard-coded >= 10) is reached, the plugin should close & reopen the connection and clear the erro

[2020-07-29 22:08] lmangani commented on #68
Good catch! So [this](https://github.com/sipcapture/paStash/blob/next/plugins/outputs/pgsql/output_pgsql.js#L103) is where it happens. Could you try replace the `pool` connect with `this.start` and see if it reconnects properly?

[code]

[2020-07-30 22:36] simplevoip commented on #68
`3|pastash_ | TypeError: this.start is not a function`

[2020-11-19 12:31] astrakid opened #70 "Cisco UCM CDR filter"
Hi,
I want to heplify Cisco UCM CDRs (currently version 12.5, but afaik the structure didn't change in the last years).
The plain-text-files have the following structure:

###
column-name | type | example
###

cdrRecordType | INTEGER | 1
globalCallID_callManagerId | INTEGER | 2
globalCallID_callId | INTEGER | 28377
origLegCallIdentifier | INTEGER | 36951964
dateTimeOrigination | INTEGER | 15935472

[2020-11-19 12:35] lmangani commented on #70
Hi Andre - Are those materialized as individual files?

[2020-11-19 12:35] astrakid opened #71 "Cisco UCM CMR filter"
in reference to #70 i want to add further information to homer by retrieving data of cisco CMR files.

the structure is as follwos:

###
column name | type | example
###

cdrRecordType | INTEGER | 2
globalCallID_callManagerId | INTEGER | 1
globalCallID_callId | INTEGER | 1549027
nodeId | INTEGER | 2
directoryNum | VARCHAR(50) | 11335
callIdentifier | INTEGER | 36951877
dateTimeStamp | INTEGER | 15

[2020-11-19 12:38] astrakid commented on #71
the file is simple csv, that means the example given looks in csv like this:

2,1,1549027,2,"11335",36951877,1593545181,119316,12076047,119311,16490570,0,20,0,"dd934380-4391-409e-82bc-7d71ce4e8bd3","Eingeloggt","StandAloneCluster","CSF11355","CS=0;SCS=0",2387,"",,,,,,,,,,"","","",,,,,,,,,,"","","725db2ec00105000a00000e0c51c2dc0","20682f0300105000a00000e0c51c2cc0","",""

[2020-11-19 12:38] astrakid commented on #70
he file is simple csv, that means the example given looks in csv like this:

1,2,28377,36951964,1593547211,2,36951964,152200202,"+4912345678","",0,16,4,152200202,23618,2,20,0,0,0,0,0,0,"0","0",36951967,2,36951967,152200202,"+4923456789","+4923456789","",0,0,4,152200202,23320,2,20,0,0,0,0,0,0,"0","0",1593547211,1593547987,"+4912345678","dbfc3109-c95c-4a46-96fe-d94d89e20cde","PSTN_OUT","","PSTN_OUT"

[2020-11-19 12:40] astrakid commented on #71
first line of each csv contains column names, second line column types, line 3 ff contains data.

[2020-11-19 12:40] astrakid commented on #70
first line of each csv contains column names, second line column types, line 3 ff contains data.

[2020-11-19 12:42] astrakid commented on #70
no, datasets are grouped by time - in our setup each hour a new file is created containing all CDRs / CMRs for that timeframe (one file for CDRs, one for CMRs).

[2020-11-19 12:45] lmangani commented on #70
wait up - i'm confused. if its a CSV file each hour, how can the values be spread on multiple lines? it seems unlikely.
from the example, it seems there must be a fixed header on the first line of the file, and each cdr to be one full line after.

Could you please provide the first 3-4 lines of any such csv file?

[2020-11-19 12:50] astrakid commented on #70
sorry for confusion. here the first 4 lines of a cdr file of 2020 june 30th 21:13:

"cdrRecordType","globalCallID_callManagerId","globalCallID_callId","origLegCallIdentifier","dateTimeOrigination","origNodeId","origSpan","origIpAddr","callingPartyNumber","callingPartyUnicodeLoginUserID","origCause_location","origCause_value","origPrecedenceLevel","origMediaTransportAddress_IP","origMediaTransportA

[2020-11-19 12:52] astrakid commented on #70
each new file contains x datasets, where each row contains one dataset (call detail record). except the first two rows of each files are containing headers. hope to calrify it. ;)

[2020-11-19 12:54] astrakid commented on #71
to clarify as in #70:
in our setup every hour a new file is created with x datasets. each row contains one dataset. each file has always column names in first row, type-description in 2nd row and datasets in the following rows.

[2020-11-19 13:09] lmangani commented on #70
overall, the first step is pretty easy - pastash already has a CSV parser - we just skip the first 2 lines and teach it what headers. From there we have a JSON object we can use to form a HEP packet of various types.

[code]

From here its on you to tell us what could/should be done with all those columns. If you have enough elements, we can transform them into a meaningful payload.

If you'd like

[2020-11-19 13:50] lmangani commented on #71
Alright the job here is slightly different - i see mostly session stats we COULD perhaps convert to a HEP qOS report, but none is filled. Could you find an example with more of the values available?

[2020-11-19 15:37] astrakid commented on #70
sounds really good, correlation id is fine.
if i run pastash twice on the same file, will I get duplicated entries?

[2020-11-20 09:04] astrakid commented on #71
which values do you mean? most values are video, which we hardly use. all other calls will have at least jitter, latency and packet loss.
here further examples:

2,1,2019806,11111,41387961,1605856474,207976,32029071,207896,32035435,77,16,0,bb843e8b-ee08-40d0-b1d2-c14042881fac,Eingeloggt,StandAloneCluster,CSF11111,CS=0.119;SCS=0.079,4161,,,,,,,,,,,,,,,,,,,,,,,,,57a4bc0400105000a00000e0c51c329a,43b4

[2020-11-20 09:12] astrakid commented on #70
besides my last question i have some errors, a field seems to be too large in my files:

[Fri, 20 Nov 2020 09:09:48 GMT] INFO Start reading /opt/ciscoCdr/cdr_StandAloneCluster_02_202011191314_46926 at 2 fd 578
[Fri, 20 Nov 2020 09:09:49 GMT] ERROR PREHEP ERROR: RangeError [ERR_OUT_OF_RANGE]: The value of "value" is out of range. It must be **>= 0 and <= 65535**. Received **1072476**

[2020-11-20 09:30] lmangani commented on #71
This is the JSON object you should map data to - taken from HEPGen.js which does the same thing:
[code]

[2020-11-20 12:10] astrakid commented on #70
and last but not least: paStash is running, but i don't see any data in table hep_proto_100_default or hep_proto_100_default_<date>_<hour>.

how to debug it?

running pastash in debug mode looks quite fine:

`[Fri, 20 Nov 2020 11:25:05 GMT] DEBUG CSV Data! { '0': '1',
  '1': '2',
  '2': '979553',
  '3': '41410853',
  '4': '1605870844',
  '5': '2',
  '6': '41410853',
  '7': '1729258506',
  '8': '+4

[2020-11-20 12:17] lmangani commented on #70
I doubt this would or should work, but I can't tell without seeing the config you're running.

The point of pastash is not sending the data as-is (unless its already well formatted) for rather transforming it into what it should be. In this case, nothing will work without a correlation_id to begin with and sending the raw CSV seems to me the wrong choice. The CSV parser (below) will turn the rows

[2020-11-20 12:24] astrakid commented on #70
ah sorry, just piped the output of my config, the filter was set as suggested from you before.

here completely:
`root@sipmon01:/opt/ciscoCdr# cat /opt/paStash/bin/config.yaml
input {
  file {
    path => '/opt/ciscoCdr/cdr*'
    start_index => 2
  }
}

filter {
  csv {
    headers => ["cdrRecordType","globalCallID_callManagerId","globalCallID_callId","origLegCallIdentifier","dateTimeOrigination",

[2020-11-20 12:27] astrakid commented on #71
great, thanks. didn't expect you to do all my work! 🥇
thx a lot, will test it on monday!

[2020-11-20 12:41] lmangani commented on #70
Mind the `host` parameter should be HOMER's IP. Is HOMER running on the same host reading the CDRs? Sniff around port 9060 see if they actually show up.

[2020-11-20 12:45] astrakid commented on #70
yes, homer is running locally. will check communication on port 9060

[2020-11-20 12:54] astrakid commented on #70
lot of traffic from heplify-clients, but no traffic from my local server, where paStash for parsing CDRs and heplify-server (docker) are running. changed the config to host sipmon01.fqdn but no change...

[2020-11-20 13:13] astrakid commented on #70
ok, got a step further. there is traffic from paStash to heplify-server (had to dump the docker interface), but all packets are failing:

14:11:50.762308 IP sipmon01.37059 > 172.18.0.3.9060: UDP, bad length 8151 > 1472
14:11:50.762525 IP sipmon01.37059 > 172.18.0.3.9060: UDP, bad length 8151 > 1472
14:11:50.762659 IP sipmon01.37059 > 172.18.0.3.9060: UDP, bad length 8151 > 1472
14:11:50.763065 IP

[2020-11-20 13:24] lmangani commented on #70
Try adding the following filter to generate a custom payload with a few elements of your CDR to test with:

[code]

[2020-11-30 16:04] pierok13 commented on #64
I did some work on that, I need to push it on git once I'm sure it works as intended and I've made some documentations/comments. I also made one for audiocodes SBC.

[2020-11-30 17:00] lmangani commented on #64
thanks @pierok13 are those implemented as pastash filters?

[2020-11-30 22:32] pierok13 commented on #64
yes, sir

[2020-12-01 09:57] lmangani commented on #64
That;s great! Would love to help out @pierok13 feel free to send a PR to the /plugins folder and we'll publish it

[2020-12-01 10:25] MattMou commented on #64
Excited to give this a try! Many thanks for your efforts.

[2020-12-04 08:34] tomlakelive opened #72 "Filter installation fails when running npm as root user"
Please add the following command to the wiki page for HSP/CDR generation:

npm -g config set user root

See log snippet below for an example of such an issue when attempting to install @pastash/filter_app_hsp:

=======

root@poc-cdc-hepic:/usr/lib# npm -g install @pastash/filter_app_hsp

node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Pre-built binaries not install

[2020-12-17 15:29] spady7 opened #75 "Audiocodes SBC syslog"
Hi, I'am trying to send "syslog" coming from Audiocodes SBC to Homer 7.
What i did so far is a configuration file for pastash:

`input {
  udp {
    host => 0.0.0.0
    port => 514
    type => syslog
  }
}

output {
  stdout{}
  if [rcinfo] != 'undefined' {
        hep {
          host => '10.160.21.80'
          port => 9069
          hep_id => 2222
          hep_type => 1
        }
  }
}`

and i

[2020-12-17 16:10] lmangani commented on #75
It's not that simple :) The current attempt will not produce any results. pastash can receive the syslog input, but needs help converting it into a format we can use. The key here is to find a correlation vector from syslog to our realm.

Is there any information in your syslog we can correlate back to a SIP session detail? S? BID? If so, we can build a parser (check out the Ribbon example for a r

[2020-12-17 16:28] spady7 commented on #75
Yes, we could use `[SID=b9027c:24:167717]`

It means:
b9027c = last 3 byte of MAC ADDRES of SBC
24 = number of reset (reset of SBC)
167717 = ID of the entire call (SIP call).

Can this help you?

[2020-12-17 16:36] lmangani commented on #75
Could you "pair" this with a SIP message for us to understand? We have no clue what your traffic looks like :)

[2020-12-17 17:55] spady7 commented on #75
I've attached a 'syslog.txt' file where there is a complete capture of a
call.
There you can find how syslog output looks like
Is that enough to understand?

I really want to help and improve it.
Let me know

Il giorno gio 17 dic 2020 alle ore 17:36 Lorenzo Mangani <
notifications@github.com> ha scritto:

12:56:33.000  10.160.21.20  local0.notice  [S=1428798] [SID=b9027c:24:164757]  (N  5725337) (

[2020-12-17 18:09] lmangani commented on #75
The SIP parsing part is quite simple and in-line with other syslog extractors we have for Sonus/Ribbon/Avaya/etc.
The shortcoming is about the network part - as you can observe, unless I'm missing something else, the logs only reveal the remote IPs and unfortunately never the local IP:PORT of the system handling the traffic- since names cannot be used this is the blocker/challenge to surpass:
[cod

[2020-12-17 18:43] lmangani commented on #75
here's a quick sketch for a possible simplistic parser

Outbound Regex:
[code]

Inbound Regex:
[code]

* Group 1, 6 are the spare logs
* Group 2 is the remote `IP:PORT`
* Group 3 is the `SBC Profile`
* Group 4 is the `Protocol`
* Group 5 is the Full `SIP Message`
* Group 7. 8. 9 are `DD`, `MM`, `HH:MM:SS.UUU`

I'll try hack a quick plugin together for you to modify and extend with real events.

[2020-12-17 19:25] lmangani commented on #75
@spady7 happy hacking: https://github.com/sipcapture/paStash/blob/next/plugins/filters/app_audiocodes/app_audiocodes.md

[2020-12-17 22:33] spady7 commented on #75
Hi Lorenzo and thanks for your help.
Now output seams much more better

 [Time:18-12@00:31:45.106]
[Thu, 17 Dec 2020 22:31:55 GMT] ERROR <133>[S=1499920]
[SID=b9027c:24:172873]  (N  6009286)
SIPAuthenticationMngr::FindChallengeData - Resource SIPChallengeData(#801)
was located -  (Nonce - ODg2Mzg3NzU1OjMzNTgzNDQ2Mg==)
(N  6009287) ---- Incoming SIP Message from 10.160.21.21:5060 to
SIPInterface #3

[2020-12-17 22:54] lmangani commented on #75
The output on screen will not be much relevant. Could you show me your full pastash recipe with the new filter?
Should be something like so:
[code]

Mind this is unlikely to work as is, its never been tested and a pure work of theory. You'll have to hack a little :)

[2020-12-17 22:58] lmangani commented on #75
Don't forget you need to also find a way to provide your realms or your SBC will always look as 127.0.0.1:5060 without Aliases. If you provide some examples for the parts i've explained are missing, we might be able to make progress on that too.

[2020-12-17 23:07] spady7 commented on #75
HI,
pastash_audiocodes.conf:

input {
  udp {
    host => 0.0.0.0
    port => 514
    type => syslog
  }
}

filter {
  app_audiocodes {}
}

output {
  stdout{}
  if [rcinfo] != 'undefined' {
        hep {
          host => '10.160.21.80'
          port => 9069
          hep_id => 100
          hep_type => 1
        }
  }
}

Il giorno gio 17 dic 2020 alle ore 23:58 Lorenzo Mangani <
notifications@g

[2020-12-17 23:10] spady7 commented on #75
What i've posted on attached syslog.txt is what Audiocodes outputs on
syslog. There is no way to alter outputs.
If i well understand what is missing is an Ip address of SBC. It always use
a name, like 'Sip Interface #...'
Right?

Il giorno gio 17 dic 2020 alle ore 23:58 Lorenzo Mangani <
notifications@github.com> ha scritto:

[2020-12-17 23:12] lmangani commented on #75
Ok next run `ngrep -W byline port 9069 -d any` to check if any HEP messages are being sent. I assume the non-standard port for HEP is your choice, default would be 9060 for HOMER.

The name of the "trunk" or whatever seems to be inside the parenthesis, `ATA` in this example below possibly?
[code]

NOTE: The parsing format of the syslog events and the txt are different enough to cause issues so i'm

[2020-12-17 23:20] spady7 commented on #75
Strange. 'ngrep -W byline port 9069 -d any' outputs nothing.

port 9069 is my choice, yes.

Il giorno ven 18 dic 2020 alle ore 00:12 Lorenzo Mangani <
notifications@github.com> ha scritto:

[2020-12-17 23:23] lmangani commented on #75
Then the script is failing to parse and we need to debug it further. Do run this for a few minutes with traffic to get us something to work with consistently - check if the file is created it should have the data in the JSON format pastash uses internally.
[code]

I'll test it domani ;)

[2020-12-17 23:25] spady7 commented on #75
Audiocodes works i bit complicated way. It use 'entities' (like ATA) and to
this entity is associated a sip interface and to that sip interface is
associated a network interface.

This is way ( i suppose) we cannot see directly IP:PORT on syslog.

But, we could think to put inside 'pastash_audiocodes.conf' a "MAPPING" of
that name to an IP:PORT (I know it because i ve configured on Audiocodes
sbc)

[2020-12-17 23:26] lmangani commented on #75
We will end up adding some custom config to the filter eventually, but first we need to parse this right. It's a step by step process. I see some other IPs in the logs referring to interfaces, but only you can tell us what's relevant and what's not.

[2020-12-17 23:37] spady7 commented on #75
File is created but is not in JSON format at all.
It looks like the same as output on cli console.

here a snippet of file output:

[Time:18-12@01:33:23.753]
<133>[S=1506269] [SID=b9027c:24:173590]  (N  6034578)
(#12)gwSession[Deallocated]
 [Time:18-12@01:33:23.768]
<135>[S=1506270] [BID=b9027c:24]  DnsGetAddrInfo: CacheEntry == NULL
ai_family[2] [File:DnsApi_Linux.cpp Line:1690] [Time:18-12@01:33

[2020-12-17 23:38] spady7 commented on #75
For now....Buonanotte ;-)

Il giorno ven 18 dic 2020 alle ore 00:37 Agiftel Longwave <agiftel@gmail.com>
ha scritto:

[2020-12-17 23:40] lmangani commented on #75
That's perfect, sorry if I confused you, this will simply allow reimporting it into the JSON format pastash uses.
I'll give it a go and let you know what we find out.

[2020-12-18 18:53] lmangani commented on #75
Pushed a new version which SHOULD produce some output, feel free to try it out:
[code]

todo:
* extract and use message timestamp instead of now()
* convert SBC realm to IP:PORT instead of 127.0.0.1:5060

[2020-12-18 21:29] spady7 commented on #75
Great!!!
Now i can see something on Homer server.
output is as follows:

[Fri, 18 Dec 2020 21:24:04 GMT] ERROR failed parsing Outgoing SIP
<133>[S=1638002] [SID=b9027c:24:188846]  (N  6565994)
(#93)gwSession[Allocated]. Handle:00007FCCBDDC0A28; Global session ID:
a0846f6b3d23b251 #012(N  6565995) SIPEntity::PrepareConfigurationData:
Setting persistent connection to proxy: 52.114.7.24:5061  #012(N

[2020-12-18 23:06] lmangani commented on #75
I don't see any picture, you can 'drag' them into the editor and they should upload. This is a good first step. I've based my example only on responses so there might be bugs on the other Incoming messages. Please confirm if this is the case and I'll take a look.
Once that's sorted, we can think of how to get the right ports and addresses figured.

[2020-12-19 01:19] lmangani commented on #75
+ @pastash/filter_app_audiocodes@1.0.13

[2020-12-19 09:50] spady7 commented on #75
<img width="1156" alt="Schermata 2020-12-18 alle 22 26 27" src="https://user-images.githubusercontent.com/31621633/102686420-f181d280-41e7-11eb-8c0f-61cde5db38e5.png">
<img width="1367" alt="Schermata 2020-12-18 alle 22 28 44" src="https://user-images.githubusercontent.com/31621633/102686421-f3e42c80-41e7-11eb-9168-67f45b3c37ab.png">

[2020-12-19 09:51] spady7 commented on #75
Ok done.
Can you see them?

Il giorno sab 19 dic 2020 alle ore 00:06 Lorenzo Mangani <
notifications@github.com> ha scritto:

[2020-12-19 10:32] lmangani commented on #75
The screenshot doesn't tell me anything. This is about looking for and sharing message details such as parsing of Call-IDs being right or wrong, not just clicking once :) You need to look inside a few messages and tell us if its even right. There's nothing more I can do on your behalf here unless you can share a large chunk of data or a full Call-Flow.

[2020-12-19 10:36] adubovikov commented on #75
on the call flow you see only one message, because for that call id only one message exists :-)

[2020-12-19 10:52] spady7 commented on #75
Sorry guys, Maybe it's not clear to me then how this tool really should work.
Following an entire call (done now) I report from the CLI what has arrived and how it is shown on Homer's GUI.
I expect the whole call-flow to be seen on HOMER (but maybe I misinterpreted and it doesn't have to be), or not?
Sorry if I ask you to explain me in a very basic way.
Thanks

`[Sat, 19 Dec 2020 10:45:06 GMT] ERR

[2020-12-19 11:10] lmangani commented on #75
I unfortunately can't help with the format you keep pasting. We need the original in order to validate the parser.

[2020-12-19 11:13] lmangani commented on #75
@spady7 to be clear. We don't know anything about those logs, we do not have any such SBC and thus we're guessing with you how to parse them. Apparently each syslog event can contain pieces of a SIP message. As you see above, we parse those we understand, while for all other cases you get a failure ie `[Sat, 19 Dec 2020 10:45:06 GMT] ERROR failed parsing Incoming SIP` which are the ones you should

[2020-12-19 11:21] spady7 commented on #75
Ok, email sent to support@sipcapture.org

regards

[2020-12-19 11:40] lmangani commented on #75
We need the logs from syslog. not file, or the parsing will be entirely different. Here's the recipe to do so:

[code]

Run the above, perform a full call, and then send us the audiocodes.json file - we'll be able to use it to fix the parser :)

[2020-12-19 11:42] lmangani commented on #75
By the way question for anyone using those logs - if ANY of those events reveals the IP:PORT of the realms used, please suggest so ;)

[2020-12-19 11:55] lmangani commented on #75
@spady7 the latest JSON file seems perfect, will take a look once possible and update you here

[2020-12-19 11:58] lmangani commented on #75
its BAD BAD BAD news. The events are mixed, meaning half SIP message is actually split across messages. Whoever designed this is a sadist motherfucker. I'll try to handle it, but it's going to make me hate it. Consider a donation to the project :)

[2020-12-19 12:02] lmangani commented on #75
Is there any documentation for this sad format anywhere from Audiocodes? There must be markers in there.

[2020-12-19 12:32] lmangani commented on #75
@spady7 please try again with `@pastash/filter_app_audiocodes@1.0.15`

[2020-12-19 18:01] spady7 commented on #75
Hi, I checked the manuals and here are the only information about how the syslog message is structured. As I told you earlier the whole SIP call is marked with the value "SID". In fact, if I analyze the syslog trace with the tool provided by Audiocodes and I filter the SID value, I get the entire SIP call.
[Syslog Format.pdf](https://github.com/sipcapture/paStash/files/5719937/Syslog.Format.pdf)

[2020-12-19 18:07] lmangani commented on #75
We can try use that as the correlation ID but it seems VERY ephemeral and would overlap often. Not good in general.
Have you tried the last version? I see some issues with reassembling still but it should produce most messages.

[2020-12-19 18:14] spady7 commented on #75
I sent you audiocodes.json output.
Seam to be more outputs but i saw on CLI many error like this:

[Sat, 19 Dec 2020 18:08:14 GMT] ERROR failed parsing Outgoing SIP. Cache on!
[Sat, 19 Dec 2020 18:08:14 GMT] ERROR failed parsing Outgoing SIP. Cache on!
[Sat, 19 Dec 2020 18:08:14 GMT] ERROR Exception has been catch, it' a bug
[Sat, 19 Dec 2020 18:08:14 GMT] ERROR Please submit an issue on
https://g

[2020-12-19 18:24] lmangani commented on #75
Those logs are are as depressing as this format :)

Please try the latest version one more time if you can, let's see if it makes any difference
[code]

[2020-12-19 18:26] lmangani commented on #75
NOTE: There's still a nasty issue with reassembling chained logs and parsing timestamps so certain messages WILL be missed.

[2020-12-19 18:30] spady7 commented on #75
Ok, for now we have errors like this:

[Sat, 19 Dec 2020 18:27:26 GMT] ERROR SESSION SID 203553
[Sat, 19 Dec 2020 18:27:26 GMT] ERROR failed parsing Outgoing SIP. Cache on!
[Sat, 19 Dec 2020 18:27:26 GMT] ERROR Exception has been catch, it' a bug
[Sat, 19 Dec 2020 18:27:26 GMT] ERROR Please submit an issue on
https://github.com/sipcapture/pastash
[Sat, 19 Dec 2020 18:27:26 GMT] ERROR Exception: Ty

[2020-12-19 18:45] lmangani commented on #75
more interested in what arriving on the other side to start  :)

[2020-12-19 23:18] lmangani commented on #75
@spady7 i think we got it working. Your next test with the latest version should be more interesting ;)

![image](https://user-images.githubusercontent.com/1423657/102701649-6b9e6f80-4259-11eb-9f6c-1c6e4e2c5ef1.png)

[2020-12-19 23:38] lmangani commented on #75
Could you provide some examples of this config? I'll prepare some mapping array to hold it.

[2020-12-20 15:35] lmangani commented on #75
@spady7 there's a good chance you will see RTP MOS reports as well :) Curious to hear what your test results will be

[2020-12-20 17:27] spady7 commented on #75
Which version have I to test now? i'am bit confused....;-) ;-) ;-)
last one i get is "1.0.16"

Il giorno dom 20 dic 2020 alle ore 16:35 Lorenzo Mangani <
notifications@github.com> ha scritto:

[2020-12-20 17:28] spady7 commented on #75
Yes, no problem. I can. but i prefer share you my screen and expose you
configuration.
I cannot share here.

Il giorno dom 20 dic 2020 alle ore 00:39 Lorenzo Mangani <
notifications@github.com> ha scritto:

[2020-12-20 17:30] spady7 commented on #75
Ok, sorry. I saw it. Is "1.0.23"
Let me test...

Il giorno dom 20 dic 2020 alle ore 18:28 Agiftel Longwave <agiftel@gmail.com>
ha scritto:

[2020-12-20 17:35] lmangani commented on #75
Yeah, just always pull the latest available, they get pushed as bugs get fixed.
By default it will only try reassemble SIP out, I've added a few options documented here: https://github.com/sipcapture/paStash/blob/next/plugins/filters/app_audiocodes/app_audiocodes.md

[2020-12-20 17:44] lmangani commented on #75
Try using this config for IP autodetection (very sketchy logs for TLS, only you can tell if it works)
[code]

[2020-12-20 18:18] lmangani commented on #75
All seems to work! If there are other Audiocodes lurkers watching this thread and willing to try, crawl out, we'll help :)

[2020-12-22 00:18] lmangani commented on #75
Documented here: https://github.com/sipcapture/paStash/wiki/Example:-AUDIOCODES-Syslog

Good luck @spady7! In case of issues or new discoveries, please open a new issue for clean tracking!

[2020-12-22 00:18] #75 closed, assigned to nobody

[2021-01-07 13:06] Wolffis opened #76 "Audiocodes SBC ERROR failed parsing Outgoing SIP. Cache on!"
Hi, tried the paStash with Audiocodes SBC thing to get syslogs to Homer, but no luck so far. When I redirect the syslog from Audiocodes Mediant SW SBC to paStash IP, I see the traffic incoming and at the same time massive amount of

ERROR failed parsing Outgoing SIP. Cache on!

as paStash output and nothing going over to the 9060 Homer port. All settings default from the guide. Any idea what that

[2021-01-08 13:41] lmangani commented on #76
The message parser does not seem to find any terminators and keeps merging events looking for one ad infinitum. This could be some difference in the syslog format between SBC version or just about any other reason, would need to see some of the traffic being processed. Please enable the debug flag and show us some of the output and/or capture some samples of the syslog events to look at to find ou

[2021-01-13 08:18] Wolffis commented on #76
Here's the debug from paStash and incoming syslog from Audiocodes (10.250.39.14) as an attachment (tcpdump pcap from the paStash/Homer server 10.250.39.120). Only thing I have tried to change is the syslog debug level in Audiocodes between Basic and Extended, but that won't change anything as the SIP messages are the same in both.

# pastash --config_file=/usr/local/etc/pastash/pastash_sonus.conf

[2021-01-13 12:56] lmangani commented on #76
Could you try the following recipe and paste its output? this is basically a dumb syslog to console collector which should allow us to identify the issue quicker within the realm of pastash:
[code]

only a few dozen lines should be sufficient to assess the input type. Thanks!

[2021-01-14 07:52] Wolffis commented on #76
Here's the console output with some OPTIONS and one INVITE test call.

[2021-01-14 09:40] lmangani commented on #76
Thanks! this looks quite different from other examples users have provided indeed, and will need some parser tweaking to succeed - what's the software version and settings of the SBC sending the syslog?

[2021-01-14 10:09] Wolffis commented on #76
Audiocodes Mediant SW SBC (Virtual Edition) 7.20A.204.838

Settings:
Enabled
IP
514
Syslog CPU Proctection: Enabled
Syslog Optimazation: Disabled
Debug Level: Basic

Activity Types to Report: All checked

Here's the syslog guide, chapter 5 seems to define things pretty extensively:
https://www.audiocodes.com/media/14787/syslog-viewer-users-guide.pdf

Here's the SBC manual, 57.2 (page 874) describe

[2021-01-14 11:41] lmangani commented on #76
@spady7 got this working. Could you share your SBC syslog config here please?

[2021-01-15 12:59] spady7 commented on #76
Hi, i've same settings apart Debug Level. I have "Detailed".

[2021-01-15 13:53] Wolffis commented on #76
And detailed should only increase the amount of lines for internal processing information which is not useful from Homer SIP trace perspective. Basic and Detailed have the same error for me.

So the syslog format in my case is different and e.g. my paStash installation as such seems to be working?

[2021-01-16 10:21] os11k commented on #76
Hi! I have same problem, a lot of "ERROR failed parsing Incoming SIP. Cache on!"

Version ID:  7.20A.256.511

Here is my pastash config:

[code]

Syslog settings:
Enable Syslog: Enable
Syslog Server IP: 10.10.151.163
Syslog Server Port: 10514
Log Severity Level: Debug
Syslog CPU Protection: Enabled
Syslog Optimization: Disabled
VoIP Debug Level: Detailed
Debug Level High Threshold: 90
Activity Typ

[2021-01-18 08:13] spady7 commented on #76
Hi all,
Audiocodes version : 7.20A.260.012
Syslog settings:
![Schermata 2021-01-18 alle 09 11 48](https://user-images.githubusercontent.com/31621633/104888636-4d698380-596d-11eb-8783-6b8815a5500f.png)
`input {
  udp {
    host => 0.0.0.0
    port => 514
    type => syslog
  }
}

filter {
  app_audiocodes {
    autolocal => true
    qos => true
  }
}

output {
  stdout{}
  if [rcinfo] != 'undefined

[2021-01-18 08:42] os11k commented on #76
Thank you @spady7 , I have identical settings in Audiocodes and config is almost same too, only you have  stdout{}, what I believe is not important.

I'm still getting "ERROR failed parsing Incoming SIP. Cache on!"

[2021-01-18 08:47] lmangani commented on #76
Thanks @spady7 for confirming this works. @os11k @Wolffis I will try to have a look at your logs in the coming days but no guarantees as this will be a huge investment of time - feel free to donate or help out our project if you'd like this ramped up in priority.

[2021-01-18 16:39] os11k commented on #76
Hi!

I think I fixed this problem for my Audiocodes, seems different versions should use different Regex. I'm preparing pull request with my changes. Meanwhile @spady7 do you see SDP in your Invite in Homer? I suspect that it is empty. Could you please recheck? If not I will update Regex for your version too.

[2021-01-18 17:03] lmangani commented on #76
Thanks @os11k for stepping in! the current regex was modelled over a single example set so any patches are super appreciated!
Unless you already have done so, we can add a `version` parameter to the plugin in order to support multiple releases.

[2021-01-18 18:13] os11k commented on #76
Hi @lmangani !

I created pull request, seems I didn't break anything. :) I'm not really js developer, but I think this is something what I can fix.

@Wolffis can you check if my changes works for you too, if not I can try to fix for you too, while I do remember what is where.

[2021-01-19 11:07] lmangani commented on #60
![image](https://user-images.githubusercontent.com/1423657/105026528-eae8b400-5a4e-11eb-8924-8dd2a744174a.png)

[2021-01-19 11:38] lmangani commented on #76
Thanks @os11k for your contribution and support! Patches have been merged, configuration updated and npm published
[code]

Any feedback welcome - @spady7 could you check if this works on your system? Note the new `version` parameter in readme

[2021-01-19 16:37] os11k commented on #76
I just tested paStash with Audiocodes 7.20A.258.271 and it seems to work too. It use same regex as "7.20A.256.511", so version in conifg should be 7.20A.256.511

[2021-01-19 16:47] os11k commented on #76
I just connected 2 Audiocodes to write data to 1 pastash and everything is ok, except now in homer this 2 Audiocodes are getting same IP. Any ideas how to fix it? In logstash there is pipelines for this, as far as I remember

[2021-01-19 17:33] os11k commented on #76
Actually I found solution, sorry for noise. :)

[code]

[2021-01-19 17:45] lmangani commented on #76
This is great! you're using paStash as it's supposed to :) I might add this to the wiki its a great example!
As of the version, I documented as `lower` and `higher` versions should be fine unless otherwise proven.

Any reason you are forcing `hep_type` in the output? This might prevent actual logs and potential media reports from working

hep_type 1 is exclusively for SIP, but the parser should al

[2021-01-19 17:49] os11k commented on #76
I just copied some example what I saw somewhere here. :) Let me try without  `hep_type` :)

[2021-01-19 17:51] lmangani commented on #76
Wiki has been updated: https://github.com/sipcapture/paStash/wiki/Example:-AUDIOCODES-Syslog

[2021-01-19 17:52] lmangani commented on #76
Without the `hep_type` forced you might also see Logs and QoS RTCP reports (very experimental) for your calls

[2021-01-19 18:01] lmangani commented on #76
Closing this as successful! Feel free to comment further if needed or useful, and thanks again for the contribution!

[2021-01-19 18:01] #76 closed, assigned to lmangani

[2021-01-20 14:13] spady7 commented on #76
Hi @os11k
sorry for big delay but i was out of office. Great to see the big work you and Lorenzo done! I've gave a try and multiple SBC (I also tried with an MP114) and works.
Replying to your question, i can't see SDP part.
Do you?

[2021-01-20 16:36] le-ross opened #79 "Using simply a grok output an error"
Installed the app globaly and LOKI running locally

at first had this

[code]

and each time I insert logs I get `[Wed, 20 Jan 2021 16:34:15 GMT] ERROR error Wrong HTTP Post return code: 400`

So I taught maybe I need to parse better each line with this :

[code]

Now I only get this error of loading module.

[code]

I dont have the easier time using that application. what I am missing

[2021-01-20 17:19] lmangani commented on #79
Could you paste your full pastash config? Which version of Loki are you running? (or is it the one above?)

[2021-01-20 17:46] os11k commented on #76
Hi @spady7 ! That what I thought when I saw regex what is used for your version. Maybe you can share with me log for such kind of INVITE? I'm interested in one line what starts with `reassembled line` and has that INVITE what you see in homer without SDP, or you can share full file.

[2021-01-20 17:50] lmangani commented on #76
Let's open a new issue for this so we can track it properly? I suppose the problem is we seek a double newline. Will check it as well.

[2021-01-20 17:51] lmangani commented on #79
The grok filter is indeed no longer part of the default build - but that's a parallel issue - please post the loki errors and/or capture the socket traffic with `ngrep -W byline port 3100 -d any ` and attach the output during the failure.

[2021-01-20 18:22] lmangani commented on #79
I also suspect your target system might lack the build tools required to compile the grok module - this might cause the 2nd failure.

[2021-01-20 23:18] le-ross commented on #79
I started to work with promtail to see if I can make it work and now I suspect it's the same error 400

I dont understand why this error. It's weird that I cannot ingest old logs.

For the second error I am still looking.

[2021-01-20 23:35] le-ross commented on #79
Am I supposed to install like the output_loki? because I dont see on npm or the in repo.

`$ npm install --unsafe-perm -g @pastash/filter_grok                                                                                                                                                                                                                    npm ERR! code E404

[2021-01-20 23:37] le-ross commented on #79
This is the logs when I install pastash. I dont see any reference for filters or grok

[pastash logs.txt](https://github.com/sipcapture/paStash/files/5845889/pastash.logs.txt)

[2021-01-21 00:03] lmangani commented on #79
@le-ross I must be honest i never tried running this on windows.  In either case, you do not need grok, the error is elsewhere.
Please run `ngrep -W byline port 3100 -d any` and while running. Try inserting data into Loki (either way). Attach the output.

[2021-01-21 15:59] os11k opened #80 "SDP issues and etc with Audiocodes filter"
I would like to open this issue to discuss some known bugs/problems.

1) @spady7 could you please share with me logs, so I can recheck why SDP for you is not getting parsed. I will need logs for such kind of INVITE? I'm interested in one line what starts with `reassembled line` and has that INVITE what you see in homer without SDP, or you can share full file. If you want you can try to fix it by y

[2021-01-21 18:17] le-ross commented on #79
I will need to install ubuntu becase I am not able to find ngrep for windows

I tried to wrap the package in a docker container like this

[code]

It doesnt make sense that I keep having this filter_grok error also. are you sure it's not missing somewhere? I need that grok otherwise all my logs are insert with today's timestamp

I was able to insert the logs with graylog instead of loki to see tha

[2021-01-21 18:39] lmangani commented on #80
@os11k

1. regex patch
I fully agree here, as long as it works! feel free to submit  a PR and we'll test and merge it.
[code]

2. clone
because of the single threaded nature of pastash this method would bottleneck quickly, the best way with pastash design is to leverage multithreading by running multiple pastash instances handling parallel pipelines. So a main pastash instance will be decoding sys

[2021-01-21 20:06] le-ross commented on #79
tried under my ubuntu session. same grok error.

[code]

[2021-01-21 21:04] lmangani commented on #79
Do you have `build-essential` meta package installed?

[2021-01-21 21:11] lmangani commented on #79
Btw this still does not explain the error you're receiving you're receiving:
[code]

You forgot to run the `ngrep` command to see what we're sending out. Is the date on your server in sync with the world?

[2021-01-21 21:42] le-ross commented on #79
Oh yeah, got distracted when I saw a image ready to use. I don't have the problem of grok with that image which is version 1.0.50

here is the log with a dummy file also attached
[dummy.log](https://github.com/sipcapture/paStash/files/5852330/dummy.log)

[code]

[2021-01-21 21:48] le-ross commented on #79
here is my docker-compose in case

[code]

[2021-01-21 21:59] lmangani commented on #79
204 is good. From the logs it looks as if they were accepted
[code]

[2021-01-22 01:40] le-ross commented on #79
manged to get ngrep with the error 400

[code]

[2021-01-22 01:54] le-ross commented on #79
it's enough to throw that error with that data

[code]

[2021-01-22 02:05] le-ross commented on #79
Oh that is interesting seeing that the labels fileds is escaped but not the rest :

[2021-01-24 15:44] os11k commented on #80
Hi @lmangani ! I discovered quite a big problem. So if we look only on SIP traffic, then before to send HEP packet paStash waits first for `---- Incoming SIP Message` or `---- Outgoing SIP Message` and then next packet what arrives after it. Then we glue this into one packet, parse it and send out to Homer, if I understood logic correctly. Issue here is that with UDP and in my environment this pac

[2021-01-24 18:59] lmangani commented on #80
We should have a max counter for the merging operation and reset it when it exceeds. ie: max 2 iterations before resetting cache.

[2021-01-24 19:01] lmangani commented on #80
Of course, If you control your switch/traffic, just mirror it to `heplify` and you do not need this unless its TLS

[2021-01-25 10:28] Wolffis commented on #80
Just to comment that I updated the Audiocodes SBC from old 7.20A.202. version to 7.20A.258.367 (latest LTS) and paStash to
+ @pastash/pastash@1.0.71
+ @pastash/filter_app_audiocodes@1.0.25

The syslog format seemed to change somewhat and now I can see the traffic at least in the Homer.

I had to put in 'localip' config to change the IP from paStash host IP to correct SBC IP. Also only the interfac

[2021-01-25 10:34] os11k commented on #80
Hi @lmangani ! Could you please explain what you meant here?

[2021-01-26 11:14] os11k commented on #80
Hi @lmangani ! I just created new PR, purpose of that PR is to make sure that we glue correct packet towards one what is in cache.

[2021-01-26 11:41] os11k commented on #80
Thank you for merging my PR @lmangani ! Now in my plans is to test this on production and see how much packets will be messed up when there will be some traffic, I hope this will not be a big problem, but you never knows. Based on that tests I will think what to do next.

I'm thinking about your proposal regarding maximum attempts for merging packets. Not sure that we need that, at least on this p

[2021-01-26 11:44] lmangani commented on #80
+ @pastash/filter_app_audiocodes@1.0.26

[2021-01-26 11:44] lmangani commented on #80
@os11k thanks for being an awesome open-source citizen!

[2021-01-26 11:50] os11k commented on #80
Hi @Wolffis ! Regarding:

This will need some code changes and I doubt I can do this now, this is definitely not in my bucket list so far, but if I will have nothing to do I might fix this at some point in future.

This error is expected, so when Audiocodes sends packet to syslog it actually sends 2 packets for 1 SIP message. First packet is containing information regarding who send whom packet an

[2021-01-26 12:30] os11k commented on #80
I'm thinking now to create some kind of array for 5 messages(or more) and cash those 5 messages, so in this case if 5 messages will arrive in mix we can properly glue them. Still I can't find simple solution when 2nd part arrive before 1st, but maybe we do not need it. What do you think @lmangani ?

[2021-01-26 12:38] lmangani commented on #80
I solved the same problem in other pastash applications using an LRU.

Basically a bulking cache with ttl where we can store pieces/fragments over short periods, emitting everything out at intervals reassembling any fragments in the process using any common grouping identifier, and on to the next dump.
I can find you some examples in pastash apps later or implement something this weekend.

[2021-01-28 09:13] Wolffis opened #82 "paStash docker and Audiocodes optional filter"
Hi,

I have tried to build up-to-date docker image for paStash and it launches ok with the given Dockerfile. However, if I want to add the Audiocodes SBC filter pastash_sonus.conf in the /config, I'll get the following:

[Thu, 28 Jan 2021 07:54:44 GMT] NOTICE Starting pastash 1.0.71
[Thu, 28 Jan 2021 07:54:44 GMT] INFO Max http socket 100
[Thu, 28 Jan 2021 07:54:44 GMT] INFO Loading config files f

[2021-01-28 12:09] lmangani commented on #82
Hi @Wolffis - Please attach your Dockerfile to get assistance.

[2021-01-28 12:31] Wolffis commented on #82
It's the default Dockerfile from Github

https://github.com/sipcapture/paStash/blob/next/Dockerfile

I have not really identified what could help in installing @pastash/filter_app_audiocodes other that of course

COPY pastash_sonus.conf /config/

I also tried to update the package.json with

npm install --unsafe-perm @pastash/filter_app_audiocodes

and it did add some dependencies, but it did not

[2021-01-28 14:38] lmangani commented on #82
Oh its a lot easier than that if you build the container using the npm modules you want, ie:

### build
[code]

### compose
[code]

[2021-01-28 14:43] lmangani commented on #82
FYI some of the warnings for zmq etc are not breaking, the application works as long as you don't use those built in modules. As per above, the best way to build in a container is using the npm skimmed version. I hope this helps!

[2021-01-28 14:43] #82 closed, assigned to nobody

[2021-02-04 18:56] os11k commented on #80
Hi @lmangani ! can you please share some examples regarding LRU? I will try to work on this on weekends. Thank you!

[2021-02-22 12:23] thepacketlover opened #86 "UDP input/output issue"
Hello,
  on the WIKI on HEP forwarding [https://github.com/sipcapture/paStash/wiki/Example:-HEP-Relay](https://github.com/sipcapture/paStash/wiki/Example:-HEP-Relay) there an example with UDP in and UDP out, also an example with UDP-> AMQP.  AMQP -> UDP.  I have tried both with similar problems.

I am trying to get  UDP-> AMQP.  AMQP -> UDP working but I have a feeling the UDP in/out issue will so

[2021-02-22 13:00] lmangani commented on #86
Hi @thepacketlover its hard to compare pastash and samplicator - pastash does not blindly forward network packets but rather interprets, reassembles and decodes them internally for modification and reshaping. The raw UDP/TCP examples should work indeed, but perhaps there's more at play. Try to `stdout{}` a few of the egress messages to see what they contain in detail.

In your case, you also might

[2021-02-22 13:02] lmangani commented on #86
NOTE: adding the `raw` serializer to the input might make this work as you would expect.

[2021-03-03 20:52] petertjeee opened #87 "Audiocodes SBC syslog errors"
Hi,

When using the audiocodes pastash plugin, I'm getting the following errors:

Wed, 03 Mar 2021 20:47:14 GMT] NOTICE Starting pastash 1.0.71
[Wed, 03 Mar 2021 20:47:14 GMT] INFO Max http socket 100
[Wed, 03 Mar 2021 20:47:14 GMT] INFO Loading config file : /home/peter/pastash/sbc-stack01.conf
[Wed, 03 Mar 2021 20:47:14 GMT] INFO File loaded, 3 urls found
[Wed, 03 Mar 2021 20:47:14 GMT] INFO Loa

[2021-03-03 20:59] lmangani commented on #87
which version of nodejs are you running? minimum is 12.x

[2021-03-04 11:45] petertjeee commented on #87
Hi,

I was running an old version :( Upgraded to 14 now:
[root@mon01 peter]# node -v
v14.16.0
[root@mon01 peter]# npm -v
7.6.0
[root@mon01 peter]#

But now I'm getting other errors:
[Thu, 04 Mar 2021 11:29:33 GMT] INFO Config loaded.
[Thu, 04 Mar 2021 11:29:39 GMT] ERROR failed parsing Outgoing SIP. Cache on!
[Thu, 04 Mar 2021 11:29:48 GMT] ERROR Exception has been catch, it' a bug
[Thu, 04 Mar 20

[2021-03-04 12:21] lmangani commented on #87
@petertjeee i can't help you without knowing the input

[2021-03-04 12:39] petertjeee commented on #87
@lmangani I just use the Syslog output like the directions of the plugin say. Is there a way I could send you some logfiles in private?

[2021-03-04 12:42] lmangani commented on #87
@petertjeee we can only assist here - you are welcome to ping sales @ qxip dot net to book some and help us sponsor this feature.
Meanwhile, try enabling the debug flag and see if the logs display the offending message being processed.

[2021-03-04 13:09] petertjeee commented on #87
@lmangani These are all "ERROR SESSION" messages:
[Thu, 04 Mar 2021 12:56:39 GMT] ERROR SESSION SID 976098
DEBUG <133>[S=22477524] [SID=813dd0:13:976099]  (N 22948446) (#1017)gwSession[Allocated]. Handle:00007FC14531FE20; Global session ID: 21b37b75df1f4ea8
(N 22948447) Condition Table matched on condition Index 0
(N 22948448) Classification Succeeded - Source IP Group #2 (Teams)
(N 22948449) GetT

[2021-03-26 16:03] georgelupu opened #88 "Amazon MSK SASL/SCRAM auth method support"
Today, Pastash is using the following Kafka client (https://www.npmjs.com/package/kafka-node/v/3.0.1), which supports only SASL/PLAIN auth method.
This is limiting Pastash usage with Amazon MSK Kafka service, which uses SASL/SCRAM auth method.

Please implement a new Kafka plugin in Pastash based on (https://kafka.js.org/), which supports SASL/SCRAM.

[2021-04-13 12:26] Ken-UC commented on #87
Hi
same issue here with a mediant ve 7.40a.005.306
@petertjeee do you resolve your issue?

[2021-04-13 12:29] lmangani commented on #87
please share your pastash config

[2021-04-13 12:33] Ken-UC commented on #87
hi @lmangani

here my config file :

input {
  udp {
    host => 0.0.0.0
    port => 514
    type => syslog
  }
}

filter {
  app_audiocodes{}
}

output {
  stdout {}
  if [rcinfo] != 'undefined' {
        hep {
          host => '127.0.0.1'
          port => 9060
          hep_id => 2222
        }
  }
}

[2021-04-13 12:51] lmangani commented on #87
This version is untested and might need fixes. To start, please try adding the following:
[code]

[2021-04-13 13:56] Ken-UC commented on #87
here the logs,

you can find an invite with this call id: 2113399168-440182791-202234420

[log.txt](https://github.com/sipcapture/paStash/files/6304253/log.txt)

[2021-04-13 13:58] lmangani commented on #87
@Ken-UC did you try the above parameters?

[2021-04-13 14:19] Ken-UC commented on #87
yes, log are with thoses parameters

input {
  udp {
    host => 0.0.0.0
    port => 514
    type => syslog
  }
}

filter {
  app_audiocodes{
    debug => true
    autolocal => true
    version => '7.20A.256.511'
  }
}

output {
  stdout {}
  if [rcinfo] != 'undefined' {
        hep {
          host => '127.0.0.1'
          port => 9060
          hep_id => 2222
        }
  }
}

[2021-05-11 15:50] georgelupu commented on #88
I found this kafka-node PR that is implementing SCRAM Auth: https://github.com/SOHU-Co/kafka-node/pull/1392
This PR was not merged yet.

[2021-05-11 16:23] lmangani commented on #88
Looks like a great option, will check it out

[2021-06-08 08:18] NiteCrwlr opened #94 "Installation fails on Debian 10"
Hi there!
I would like to test paStash with the Audiocodes Plugin, but I am not able to build it. There is some error with the zmq module and amqplib. Also installed libzmq3-dev, but did not help:

Here the command I used to install paStash:
[code]
Here is the error output:
[code]

Any help on this?

[2021-06-08 09:11] lmangani commented on #94
This is normal. You need to have essential development tools installed to build (optional) dependencies of paStash.
The zmq-less paStash should be working anyhow - just confirm by launching it w/ the right recipe.

[2021-06-08 09:11] #94 closed, assigned to nobody

[2021-06-08 09:11] lmangani commented on #94
Also I would NOT use node 10 or any OS provided node version! Current stable default is 14.x

[2021-06-08 09:17] NiteCrwlr commented on #94
Hi  lmangani
Thank you for your fast response. I tried already with nodejs 14.x but it did not work. Then I downgraded to 10.x.
Now I will try with the right dependencies :)

[2021-06-08 09:24] lmangani commented on #94
@NiteCrwlr pastash should be installed anyhow - those dependencies are optional and the audiocodes plugin doesn't need them. Could you confirm what happens when you just run `pastash` from your global path?

[2021-06-08 09:27] NiteCrwlr commented on #94
Oh, seems like it's running:
pastash
[Tue, 08 Jun 2021 09:27:22 GMT] NOTICE Starting pastash 1.0.72
[Tue, 08 Jun 2021 09:27:22 GMT] INFO Max http socket 100
[Tue, 08 Jun 2021 09:27:22 GMT] INFO Loading config : 3 urls
[Tue, 08 Jun 2021 09:27:22 GMT] INFO Initializing filter AddHost
[Tue, 08 Jun 2021 09:27:22 GMT] INFO Initializing filter AddTimestamp
[Tue, 08 Jun 2021 09:27:22 GMT] INFO Initializi

[2021-06-08 09:30] lmangani commented on #94
told you so ;) those dependencies are optional, you can ignore any warning - let us know if you experience any issues with the plugin in a separate issue if needed

[2021-06-08 09:31] NiteCrwlr commented on #94
Ok thanks! Sorry, I did not realize that it runs anyway :)

[2021-06-08 09:33] lmangani commented on #94
No problem! It is confusing indeed :)

[2021-06-08 14:21] NiteCrwlr opened #95 "Audiocodes Plugin: ERROR TypeError: Cannot read property '1' of null"
Hi @lmangani

I did some tests after our first conversation today, here my setup:
Audiocodes VE 7.20A.258.367
nodejs: v14.17.0
heplify-server 1.54

What I expect: I would like to see the traffic in Homer7 from the Audiocodes SBC between my SIP-Proxy and MS-Teams.
Is this possible?

First confusion:
https://github.com/sipcapture/paStash/wiki/Example:-AUDIOCODES-Syslog says:
"Supports 7.20A.260.012

[2021-06-08 14:46] lmangani commented on #95
Compatibility is user reported and provided.  Have you tried setting the version to `7.20A.260.012`?

[2021-06-08 15:30] NiteCrwlr commented on #95
Yes, as I understand this is the default if the parameter "version" is not set.
I tried again with version 7.20A.260.012 and I see:

[code]

I don't know how to dig deeper into this. Just let me know if I can help.
Btw. 720A.258 is the recommended version by Microsoft for MS-Teams direct routing, so I'm not able to change.
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-border-contr

[2021-06-08 15:42] lmangani commented on #95
Perhaps the other audiocoders on the group here can comment, but I'm afraid we'll need some samples of your data to even imagine what might be wrong.

In any other case, If you'd like to take this forward and have a bit of time and patience for trial & error, go ahead and create an alternate recipe similar to the following to dump some raw logs from the syslog causing the crash:

[code]

Dump some

[2021-06-15 07:54] NiteCrwlr commented on #95
Dear @lmangani: I created a syslog-recording of a call directly from the SBC, you can have a look at this with a helpful tool from audiocodes:
http://redirect.audiocodes.com/install/index.html

If you click on the Symbol "i", you can see the call flow.
I hope this helps, perhaps you can throw this log to pastash?

Please find the sanitized log attached.
[pastash_debugcall_syslogviewer_sanitized.tx

[2021-08-15 01:03] joeireland commented on #95
Is there any progress on this issue? I'm also seeing the exact same exception. I'm running version 7.40A.005.306 and have the following configuration settings.

[code]

Here's the DEBUG output as well as the thrown exception

[code]

[2021-08-17 07:08] NiteCrwlr commented on #95
I did not make any progress. I'm not a programmer and I'm hoping for a pointer where to dig deeper into this issue.

[2021-10-28 12:07] runelucica opened #99 "app_cisco (Cisco ISR) filter plugin DNS lookup error"
I am testing out the app_cisco filter for Cisco ISR devices.
I am running pastash as a container built using the following Dockerfile:

[code]

The pastash docker-compose service config is:

[code]

This is the pastash.config:

[code]

I am able to successfully send SIP messages as Syslog.

On pastash logs however I see these kind of errors:

[code]

This particular Cisco ISR device is connecting

[2021-10-31 15:07] #80 closed, assigned to nobody

[2021-10-31 15:28] lmangani commented on #80
@os11k no longer using this?

[2021-10-31 15:32] os11k commented on #80
Hi @lmangani , I just have a feeling that you are developing a better version of Pastash to work with audiocodes particularly. :)

[2021-10-31 16:08] lmangani commented on #80
Indeed I'm working on a plugin that uses the extended logging format option to avoid the many issues the fragmented one has

[2021-11-04 07:27] runelucica commented on #99
Could you please let me know if there is any additional information that I could provide to help further troubleshoot this issue?

Thanks.

[2021-11-04 16:28] pierok13 commented on #99
Let me check

[2021-11-04 16:33] pierok13 commented on #99
I pulled a request to delete that dns query as it was a try to do something that doesn't work. sorry for that.
[here](https://github.com/sipcapture/paStash/pull/100/commits/d42b614869966e97aba9edfe1ba25cc2a6710b9c)

[2021-11-04 17:51] runelucica commented on #99
Many thanks.
Saw that dns variable at the beginning as well, but was not sure about what it did.
Happy to hear it is not really used.
Will build again once it is deleted and test.

[2021-11-09 08:57] runelucica commented on #99
Hi.
Were the changes pushed? I am keen on testing again.

[2021-11-09 09:01] lmangani commented on #99
Thanks @pierok13 new version published
[code]

[2021-11-09 15:09] runelucica commented on #99
I just tested this again. And I am still getting a DNS issue, but this time a bit different:

[code]

Were you able to successfully test it? Perhaps I am missing something.
I have the debug for the plugin filter set to debug (just like in the config pasted above).

[2021-11-09 15:12] lmangani commented on #99
Thats not good. I have no data to test this but I think I can patch it up. Standby.

[2021-11-09 15:21] lmangani commented on #99
@runelucica nothing too obvious in the code, it would appear as the srcIp was just a `.` (unlikely?)
are those errors constant or are there also successful extractions?
 It's really hard to tell without seeing the logs they stem from

[2021-11-10 13:00] runelucica commented on #99
I have attached the SIP messages as a separate file.
The paStash debug log output is this one:

[code]
Is that what we are supposed to see with logging set to debug?

These are the SIP messages:
[SIP Messages.txt](https://github.com/sipcapture/paStash/files/7512856/SIP.Messages.txt)

I replaced sensitive data with some text labels.

I don't see those error messages anymore in the pastash logs, but

[2021-11-10 13:12] lmangani commented on #99
9060 is typically a UDP port, are you positive that's correct?

[2021-11-11 07:34] runelucica commented on #99
I believe I am using TCP. I have several heplify agents running across the environment and all are configured to use TCP.
The ports exposed on the heplify-server docker-compose service are:
    ports:
      - "9060:9060"
      - "9096:9096"

And the heplify server configuration specifies only this address:
HEPTCPAddr            = "0.0.0.0:9060"

The other ones (HEPAddr and HEPTLSAddr) are commente

[2021-11-26 10:30] sipsiphurra opened #101 "no Audiocodes SBC syslog seen"
Hi,

I using the audiocodes pastash plugin, but i cant see any Messages in Homer.

- Homer is running on CentOS 7.
- Installed Homer with the standard install script.
- Audiocodes VE on VM Ware  with firmware 7.20A.258.119

Hier is my pastash config file

nput {
udp {
host => 0.0.0.0
port => 514
type => syslog
}
}

filter {
app_audiocodes{
debug => true
autolocal => true
version => '7.20A.258.119'

[2021-12-14 16:15] xaled1 opened #102 "Journald Log support"
Hi,

is the a way to get the journald logs using paStash? I have not found any input plugin for it and search on Journal(d) did not provide any results either.

[2021-12-14 16:27] lmangani commented on #102
Nothing native is available. Adding a module is possible if there's interest or you could do as follows with a named pipe:

[2021-12-14 17:29] xaled1 commented on #102
Ok thanks!
We are interested in native support as otherwise we will just stick to rsyslog as we already do.

[2021-12-14 17:46] lmangani commented on #102
My best guess is a plugin would be very easy to write using npm modules and any of our input plugins as example

[2022-01-10 09:57] runelucica commented on #99
Based on my latest testing the DNS error is not a problem anymore.
I have other ones for which I will open a separate issue.
Thanks for the help.

[2022-01-10 09:57] #99 closed, assigned to nobody

[2022-03-28 12:31] Skipper0707 opened #110 "syslog input filtering not working [podman]"
Hello and thank you so much for this amazing tool.

I have brought up PaStash in a container alongside cLoki and Grafana containers, problem is, even though the hostnames can be seen in the log messages and the host label is working, all of the host label values get changed to the container's IP address.

Here is my recipe:

[code]
Output: (For all hosts regardless of their name)
![image](https://

[2022-03-28 12:42] lmangani commented on #110
Hello @Skipper0707 and thanks for opening this issue and happy to provide assistance.
Could you show me some of the input log data to understand how the filter might be operating?

[2022-03-28 13:06] Skipper0707 commented on #110
Hello @lmangani and thanks for your quick response.

The following are some sample log messages before reaching PaStash ( they're all syslog messages ):

[code]
As a matter of fact, I just realized when you select a label on Grafana Explorer (Log browser), it shows its value, for example when you select `host` it shows there are several values like node-1, node-2... but, when you select the value

[2022-03-28 13:37] lmangani commented on #110
Your logs look like rfc3164 formatted or something. Try the following filter instead:
[code]

and you should see something similar to the following:

`Mar 28 12:56:05 node21 stork-server[3100662]: isc.org/stork/server/apps/(*StatsPuller).getStatsFromApp
`
[code]

[2022-03-28 14:39] lmangani commented on #110
This seems to work so I'm closing the issue.
Feel free to continue the discussion, or join our new #cloki matrix channel: https://matrix.to/#/#cloki:matrix.org

[2022-03-28 14:39] #110 closed, assigned to nobody

[2022-03-28 14:42] Skipper0707 commented on #110
I regret to say it actually didn't work, I tried adding and playing around with the solution you gave me and that's why it took a while for me to respond, sorry for that.

Although as if I've understood correctly, whatever the issue is I have to find the right filtering plugin or in case of regex, the right regex to make it work and that is already a very great guidance, however, I'd be delighted

[2022-03-28 14:44] lmangani commented on #110
I've closed it since its not a bug, but I'm more than happy to help further. You probably have more data in your line such as `syslog_priority` which was not included in the examples?

EDIT: always attach an example because "it didn't work" is technically impossible to work with ;)

[2022-03-28 14:50] Skipper0707 commented on #110
I absolutely understand and as I mentioned earlier, I'm sure this isn't a bug.

Saw the issue closed and thought no to bother with examples. XD

I really appreciate you helping me in this and I will gather some more log message input examples ( before reaching PaStash ) and some example output log messages ( after PaStash) as soon as possible.

Please excuse my late replies due to being extremely

[2022-03-28 14:53] lmangani commented on #110
Please shoot the examples anytime you want :) this is what we're here for, and welcome to our community!

[2022-03-30 07:29] Skipper0707 commented on #110
Hello again @lmangani, apologies for reaching back after a long while, the reason was that your comment about my logs being "RFC 3164" gave me the idea to fix this format for logs before them reaching PaStash and so I did, and guess what everything worked out of the box afterward.

I just want to thank you for your help and this amazing tool.
Lots of love your way, regards, Sina.

[2022-03-30 08:58] lmangani commented on #110
Thanks for sharing an update and for the kind words, much appreciated! Let us know how the adventure proceeds in our Matrix channel and we'll gladly help you optimise things as they grow and scale.

[2022-03-30 09:08] Skipper0707 commented on #110
I sure will, thanks again.

[2022-04-01 11:13] solarmon opened #111 "HEP relay/forwarder not working"
Hi,

I'm trying to set up paStash as a HEP relat/forwarder so that it will send HEP packets (from rtpproxy 2.2.0) to two separate Homer servers.

I am following this guide:

https://github.com/sipcapture/paStash/wiki/Example:-HEP-Relay

and have configured it to run as a service, as per:

https://github.com/sipcapture/paStash/wiki/pastash-service#running-as-systemd-service

I am using the followin

[2022-04-01 11:20] lmangani commented on #111
Could you try adding `unserializer => raw` to your input?

[2022-04-01 11:39] solarmon commented on #111
@lmangani

Do I add to the input{} or udp{} section? I have tried both and it doesn't seem to have made a difference, I have not done a capture yet to see the contents.

Also, as a comparison, the following udp forwarder solution using socat seems to work as expected:

[code]

[2022-04-01 11:54] solarmon commented on #111
With input as:

[code]
The output UDP packet contents is the same JSON formatted contents:

[code]

[2022-04-24 19:36] geo-matheou opened #117 "Issue with Janus Events in Loki"
Hello,

I am using the qxip/pastash-loki docker image and the configuration described in https://github.com/sipcapture/paStash/wiki/Example:-Janus-Events to store Janus Events into Loki.

However, it seems that the Loki labels created when I store the data are not the same with the ones shown in examples.

Attached you can find a screenshot of the labels created in my system. Useful labels such as

[2022-04-24 20:01] lmangani commented on #117
@geo-matheou the beauty of loki (or even better, our cLoki) is you don't need to extract labels from the object or index them. Just set enough labels to find your Janus events by type, and then use the `| json` parser to extract your session labels. This will keep label cadinality low (any dymanic value would harm that) and will use the pipeline as per design, parsing at query time. Here's a usefu

[2022-04-26 06:43] geo-matheou commented on #117
@lmangani thank you very much for your prompt reply. cLoki is very interesting project and I hope that I will use it in the future. For now, the requirement is to stream logs to an existing Loki system.

It seems that I had issues with labels because the grouping field in janus.eventhandler.sampleevh.cfg was set to true. When I set it to false everything is working fine.

[2022-04-26 06:43] #117 closed, assigned to nobody

[2022-09-07 15:51] 9-4-6 commented on #94
I have this problem too，
how did you solve it？

[2022-09-07 15:54] 9-4-6 commented on #94
I have this problem too，
how did you solve it？

[2022-09-07 15:58] lmangani commented on #94
@CollectBugs welcome to pastash, please open a new issue and make sure you're using nodejs 14.x or 16.x

[2022-09-08 02:37] 9-4-6 opened #146 "paStash installation failed"
hi
system version：debian 10
Install this way ： sudo npm install -g @pastash/pastash --unsafe-perm

error log：
![image](https://user-images.githubusercontent.com/32507511/189021045-c8274943-b909-4609-bd8b-4e45f5d6fe6a.png)